<section class="hero-section">
    <div class="banner-cock-one">
        <img src="assets/img/icons/banner-cock1.svg" alt="Banner">
    </div>
    <div class="banner-shapes">
        <div class="banner-dot-one">
            <span></span>
        </div>
        <div class="banner-cock-two">
            <img src="assets/img/icons/banner-cock2.svg" alt="Banner">
            <span></span>
        </div>
        <div class="banner-dot-two">
            <span></span>
            
        </div>
    </div>
    <div class="container">
        <div class="home-banner">
            <div class="row align-items-center w-100">
                <div class="col-lg-7 col-md-10 mx-auto">
                    
                    <div class="section-search aos">
                        <h4>World Class Badminton Coaching & Premium Courts</h4>
                        <h1>Choose Your <span>Coaches</span> and Start Your Training</h1>
                        <p class="sub-info">Unleash Your Athletic Potential with Expert Coaching,
                            State-of-the-Art Facilities, and Personalized Training Programs.</p>
                        <div class="search-box">
                            <form action="#">
                                <div class="search-input line">
                                    <div class="form-group mb-0">
                                        <label>Search for</label>
                                        <select class="select">
                                            <option>Courts</option>
                                            <option>Coaches</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search-input">
                                    <div class="form-group mb-0">
                                        <label>Where </label>
                                        <select class="form-control select">
                                            <option value>Choose Location</option>
                                            <option>Germany</option>
                                            <option>Russia</option>
                                            <option>France</option>
                                            <option>UK</option>
                                            <option>Colombia</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="search-btn">
                                    <button class="btn" type="submit"><i class="feather-search"></i><span
                                            class="search-text">Search</span></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner-imgs text-center aos" >
                        <img class="img-fluid" src="assets/img/bg/banner-right.png" alt="Banner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>