<section class="section work-section">
    <div class="work-cock-img">
        <img src="assets/img/icons/work-cock.svg" alt="Icon">
    </div>
    <div class="work-img">
        <div class="work-img-right">
            <img src="assets/img/bg/work-bg.png" alt="Icon">
        </div>
    </div>
    <div class="container">
        <div class="section-heading aos" >
            <h2>How It <span>Works</span></h2>
            <p class="sub-title">Simplifying the booking process for coaches, venues, and athletes.</p>
        </div>
        <div class="row justify-content-center ">
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="work-grid w-100 aos" >
                    <div class="work-icon">
                        <div class="work-icon-inner">
                            <img src="assets/img/icons/work-icon1.svg" alt="Icon">
                        </div>
                    </div>
                    <div class="work-content">
                        <h5>
                            <a href="register.html">Join Us</a>
                        </h5>
                        <p>Quick and Easy Registration: Get started on our software platform with a simple
                            account creation process.</p>
                        <a class="btn" href="register.html">
                            Register Now <i class="feather-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="work-grid w-100 aos" >
                    <div class="work-icon">
                        <div class="work-icon-inner">
                            <img src="assets/img/icons/work-icon2.svg" alt="Icon">
                        </div>
                    </div>
                    <div class="work-content">
                        <h5>
                            <a href="coaches-list.html">Select Coaches/Venues</a>
                        </h5>
                        <p>Book Badminton coaches and venues for expert guidance and premium facilities.</p>
                        <a class="btn" href="coaches-list.html">
                            Go To Coaches <i class="feather-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 d-flex">
                <div class="work-grid w-100 aos" >
                    <div class="work-icon">
                        <div class="work-icon-inner">
                            <img src="assets/img/icons/work-icon3.svg" alt="Icon">
                        </div>
                    </div>
                    <div class="work-content">
                        <h5>
                            <a href="coach-details.html">Booking Process</a>
                        </h5>
                        <p>Easily book, pay, and enjoy a seamless experience on our user-friendly platform.</p>
                        <a class="btn" href="coach-details.html">
                            Book Now <i class="feather-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>